@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@100&family=Roboto+Mono&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Bree Serif', serif;
    color: #ffff;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: #252B42;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 1400px;
    margin: 0 auto;
}

/* HOME */

.home-img{
    width: 100%;
}
.home {
    justify-content: center;
    display: flex;
}
.logo {
    display: flex;
    font-size: 24px;
}
.menu-container {
    align-items: center;
    display: flex;
    padding-top: 33px;
    position: absolute;
}
.menu {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 14px;
    margin-left: 150px;
}
.menu li {
    color: #737373;
}
.login {
    display: flex;
    margin-left: 195px;
    gap: 45px;
    align-items: center;
}
.login button:hover,
.menu-two button:hover,
.button-grid-five:hover,
.grid-six-button:hover,
.menu a li:hover {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.9);
    transform: scale(1.1);
}
.login li {
    color: #FC724D;
    cursor: pointer;
}
.login button,
.menu-two button {
    border: none;
    background: #FC724D;
    border-radius: 5px;
    align-items: center;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu-container-two {
    position: absolute;
    width: 699px;
    height: 371px;
    left: 0;
    top: 142px;
}
.menu-two {
    position: absolute;
    width: 500px;
}
.menu-two button{
    padding: 15px 40px;
    margin-top: 35px;
    bottom: 0;
}
.text-online {
    color: #FC724D;
}
.text-hosp {
    font-size: 58px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.text-smile {
    margin-bottom: 35px;
    color: #737373 !important;
}


/* SECTION TWO */

.section-two {
    width: 1440px;
    margin: 0 auto;
    padding-left: 195px;
}
.titulo-two {
    color: #FC724D;
    font-size: 14px;
    margin-bottom: 10px;
}
.text-two {
    font-size: 40px; 
    margin-bottom: 10px; 
}
.text-two-two {
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}
.container-two {
    margin-top: 180px;
}

/* GRID-TWO */

.container-grid {
    text-align: left;
    margin-right: 195px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 80px;
}
.img-grid {
    display: flex;
    margin-top: 32px;
    margin-bottom: 20px;
}
.grid-two {
    padding: 10px;
    width: 300px;
    height: 296px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    line-height: 20px;
}
.grid-titulo {
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.grid-text {
    color: #737373;
    font-size: 14px;
    font-weight: 400;
}
.espaco {
    border: solid 1px #E74040;
    margin-bottom: 30px;
    margin-right: 220px;
}
.grid-two:hover {
    box-shadow: 0 0 1em rgb(177, 175, 175);
}


/* theree */

.section-theree {
    padding-top: 200px;
    padding-left: 195px;
}
.container-theree {
    display: flex;
}
.text-theree {
    margin-bottom: 96px;
}
.espaco-left {
    margin-right: 124px;
}
.container-img-theree {
    display: flex;
    margin-top: 40px;
    width: 266px;
    height: 61px;
    margin-left: 30px;
    margin-bottom: 55px;
}
.container-img-theree img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    background: none;
    border-radius: 30px;
}
.container-text-right {
    padding-left: 50px;
    width: 407px;
    height: 82px;
}
.titulo-right {
    font-size: 24px;
    margin-bottom: 10px;
}
.text-right {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
.theree-titulo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    padding-left: 20px;
}
.theree-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #737373;
}

/* four */

.section-four {
    padding-top: 200px;
    padding-left: 195px;
}
.grid-four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid-four-text {
    width: 381px;
}
.espaco-four {
    border: solid 3px #E74040;
    background: #E74040;
    margin: 35px 0px;
    width: 110px;
}
.titulo-four {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 35px;
}
.text-four {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 35px;
}
.button-four {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FC724D;
    cursor: pointer;
}
.button-four img {
    margin-left: 10px;
}
.grid-four-img {
    margin-right: 195px;
}
.button-four:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.9);
    transform: scale(1.1);
}


/* FIVE */

.section-five {
    padding-top: 200px;
    padding-bottom: 200px;
}
.container-five-one,
.container-six-one {
    margin-left: 195px;
    margin-right: 581px;
}
.titulo-five-one,
.titulo-six-one,
.titulo-seven-one {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FC724D;
    padding-bottom: 10px;
}
.subtitulo-five-one,
.subtitulo-six-one,
.subtitulo-seven-one {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    padding-bottom: 10px;
}
.text-five-one,
.text-six-one,
.text-seven-one {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    padding-bottom: 80px;
}
.container-grid-five {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 195px;
    margin-right: 195px;
}
.grid-five-img {
    padding: 5px;
    position: relative;
}
.grid-five-img-one {
    position: absolute;
    width: 51px;
    height: 24px;
    left: 20px;
    top: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
.grid-five-img-two {
    position: absolute;
    height: 40px;
    top: 260px;
    gap: 10px;
    display: flex;
    padding-left: 100px;
}
.grid-five-img-twoo {
    background: none;
    border: none;
    cursor: pointer;
}
.titulo-grid-five {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FC724D;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.subtitulo-grid-five {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}
.text-grid-five {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373; 
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}
.sales-grid-five {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373; 
}
.sales-grid-five-two {
    padding-left: 25px;
    padding-right: 5px;
}
.valor-promo-grid-five {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #BDBDBD;
    padding-left: 25px;
    padding-right: 5px;
}
.valor-grid-five {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #0061FF;
    padding-left: 5px;
    padding-right: 25px;
}
.container-valores {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}
.button-grid-five {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FC724D;
    border: 1px solid #FC724D;
    box-sizing: border-box;
    border-radius: 37px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    background: #ffff;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button-grid-five img {
    padding-top: 5px;
    padding-left: 5px;
}
.container-estrela-one {
    margin-left: 90px;
    padding-right: 10px;
}
.container-estrela-two {
    margin-left: 100px;
    padding-right: 10px;
}
.container-estrela-theree {
    margin-left: 150px;
    padding-right: 10px;
}
.container-estrela-theree,
.container-estrela-two,
.container-estrela-one {
    background: #26335D;
    border: solid 1px #26335D;
    padding: 5px;
    border-radius: 20px;
    align-items: center;
    display: inline-flex;
    color: #ffff;
}
.container-estrela-theree img,
.container-estrela-tw img,
.container-estrela-one img {
    align-items: center;
}
.grid-five-img-twoo:hover{
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.9);
    transform: scale(1.1);
}



/* Six */

.section-six {
    padding-top: 150px;
    background: #26335D;
}
.subtitulo-six-one {
    color: #ffff;
}
.text-six-one {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.container-grid-six-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 160px;
    padding-left: 195px;
    padding-right: 195px;
}
.container-grid-six-two {
    background: #FFFFFF;
    width: 332px;
}
.position-logo {
    position: relative;   
}
.container-grid-six-theree {
    padding: 50px 40px;
}
.container-logo {
    position: absolute;
    width: 288px;
    top: -36px;
    right: 350px;
}
.logo-new {
    width: 89px;
    height: 90px;
    right: -20px;
    top: 0px;
    background: #E77C40;
    border-radius: 52px;
    flex-direction: column;
    align-items: flex-start;
    padding: 29px 16px;
    color: #FFFFFF;
    padding-top: 26px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
}
.grid-six-free {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    padding-top: 35px;
    padding-bottom: 35px;
}
.grid-six-text-one {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    padding-bottom: 35px;
}
.grid-six-valor {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FC724D;
}
.grid-six-descrition {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #8EC2F2;
    padding-bottom: 35px; 
}
.grid-six-descrition-two {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 35px; 
}
.grid-six-button {
    width: 243px;
    height: 52px;
    left: 40px;
    top: 535px;
    background: #FC724D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    align-items: center;
    padding: 15px 40px;
    color: #FFFFFF;
    margin-bottom: 35px;
    cursor: pointer;
}
.img-updates,
.img-updates-none {
    background: #2DC071;
    border-radius: 200px;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;
    text-align: center;
    padding-top: 5px;
}
.container-grid-updates-two {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.grid-six-text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    padding-left: 10px;
}
.img-updates-none {
    background: #BDBDBD !important;
}

/* SEVEN */

.section-seven {
    padding-top: 100px;
    padding-bottom: 100px;
}
.container-seven-one {
    margin-left: 195px;
    margin-right: 250px;
}
.container-seven-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 328px;
    height: 318px;
    margin-left: 195px;
    gap: 150px;
}
.container-sever-grid-two {
    width: 219px;
    height: 218px;
    text-align: center;
}
.estrela-seven {
    width: 140px;
}
.container-seven-name {
    margin-top: 35px;
    display: flex;
    margin-left: 20%;
}
.container-seven-name-two {
    margin-left: 15px;
}
.name, 
.titulo-eight {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FC724D;
}
.form {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.text-seven {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 15px;
}

/* EIGHT */

.sextion-eight {
   text-align: center;
}
.subtitulo-eight {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 10px 0 10px 0;
}
.text-eight {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    width: 463px;
    height: 40px;
    left: 114px;
    top: 94px;
    margin-left: 35%;
    margin-bottom: 80px;
}
.email {
    width: 688px;
    height: 58px;
    left: calc(50% - 688px/2);
    top: 374px;
    margin: 0;
    padding: 10px;
    margin-bottom: 160px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
}

.button-rodape {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #FC724D;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
}
.button-rodape:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.9);
    transform: scale(1.1);
}

/* RODAPÉ */

.rodape {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 195px;
    margin-right: 195px;
    margin-bottom: 50px;
}
.titulo-rodape {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    padding-bottom: 20px;
    cursor: pointer;
}
.text-rodape {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    padding-bottom: 10px;
    cursor: pointer;
}
.text-rodape img {
    padding-right: 10px;
}
.container-rodape li {
    display: flex;
    align-items: center;
}
.rodape ul li:hover,
.container-img-roda-two a img:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.9);
    transform: scale(1.1);
}

/* RODAPÉ TWO */

.container-rodape-two {
    margin-left: 195px;
    background: #FAFAFA;
    display: flex;
    padding-bottom: 25px;
}
.text-rodape-two {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
.container-img-roda-two {
    padding-left: 650px;
}
.container-img-roda-two a {
    margin-right:  30px;
}


@media (max-width: 1000px) {
    .grid,
    .grid-four,
    .container-grid-five,
    .container-grid-six-one,
    .container-seven-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .rodape {
        grid-template-columns: repeat(2, 1fr);
    }
    .container-theree {
        display: inline-block;
    }
    .titulo-right,
    .grid-five-img,
    .container-grid-six-two,
    .titulo-rodape {
        margin: 0 0 50px;
    }
    .button-four {
        margin: 0 0 50px;
    }
    .text-grid-five {
        width: 400px;
    }
    .container-logo {
        width: 570px;
        top: 959px;
    }
    .button-grid-five {
        margin: 0 0 10px;
    }
    .container-seven-grid {
        height: auto;
        gap: 50px
    }
    .container-seven-one {
        width: 500px;
    }
    .sextion-eight,
    .subtitulo-eight,
    .text-eight {
        margin: 0 0 10px 195px;
        text-align: left;
    }
    .email {
        width: 453px;
    }
    .container-img-roda-two {
        padding-left: 150px;
    }

}
@media (max-width: 800px) {
    .rodape {
        grid-template-columns: repeat(1, 1fr);
    }

}


